@import "./base/base";

@import "./colors/colors";

@import "./fonts/fonts";

#desktop-deep-earth{
    background-image: url(/images/desktop/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-night-arcade{
    background-image: url(/images/desktop/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-soccer{
    background-image: url(/images/desktop/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-grid{
    background-image: url(/images/desktop/image-grid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-up-above{
    background-image: url(/images/desktop/image-from-above.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-pocket{
    background-image: url(/images/desktop/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-curiosity{
    background-image: url(/images/desktop/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#desktop-fisheye{
    background-image: url(/images/desktop/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#mobile-deep-earth{
    background-image: url('/images/mobile/image-deep-earth.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-night-arcade{
    background-image: url('/images/mobile/image-night-arcade.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-soccer{
    background-image: url('/images/mobile/image-soccer-team.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-grid{
    background-image: url('/images/mobile/image-grid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-up-above{
    background-image: url('/images/mobile/image-from-above.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-pocket{
    background-image: url('/images/mobile/image-pocket-borealis.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-curiosity{
    background-image: url('/images/mobile/image-curiosity.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mobile-fisheye{
    background-image: url('/images/mobile/image-fisheye.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

//mobile menu
#ham-icon {
    margin: auto 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

//sets colors of the bars
#ham-icon div {
    width: 60px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
    z-index: 10;
}
  
.ham-container {
    width: 100%;
}
  
  /*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open{
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    display: flex;
    flex-direction: column; /*stacks each link on top of each other on mobile*/
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    height: 100vh;
    margin: 0 auto;
    top: 0;
    width: 100%;
    right: 0;
    box-shadow: -1px 9px 90px 180px #2d324d59;
    border-radius: 4px;
    padding: 32px 0;
    list-style: none;
    font-family: $josefin, $sans;
    background-color: $black;
    li{
        padding: 0.5rem;
        text-transform: uppercase;
        a{
            color: $white;
            font-weight: 300;
            font-size: 1.75rem;
        }
    }
}
}

  
  /*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; /*fixed height of header*/
    left: 0;
    height: calc(
      70vh - 50px
    ); /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;
    a{
        color: #000;
    }
    li{
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 390px){
    .mobile-nav{
        height: 100vh;
        background-image: url('/images/mobile/image-hero.jpg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        &__bar{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 24px;
            margin-right: 24px;
            .mobile-logo{
                margin-top: 40px;
                z-index: 10;
            }
            .ham-container{
                display: flex;
                justify-content: flex-end;
                margin-top: 40px;
            }

        }
        .intro-container{
            font-family: $josefin, $sans;
            color: $white;
            text-transform: uppercase;
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            height: inherit;
            justify-content: center;
            h1{
                font-size: 2.5rem;
                font-weight: 300;
                width: 80%;
                border: 2px solid $white;
                height: 30%;
                padding: 27px;
                display: flex;
                align-items: center;
            }
        }
    }

    .interactive-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 96px;
        gap: 48px;
        margin-bottom: 105px;
        &__img__mobile{
            width: 90%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        &__description{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 50%;
            gap: 32px;
            h2{
                font-family: $josefin, $sans;
                font-weight: 300;
                color: $black;
                text-transform: uppercase;
                width: 80%;
                font-size: 2.25rem;
                text-align: center;
            }
            p{
                font-family: $alata, $sans;
                color: $dark-grey;
                width: 80%;
                text-align: center;
                line-height: 1.75rem;
            }
        }
    }

    .mobile-creations{
        width: 90%;
        margin: 0 auto;
        &__intro{
            width: 80%;
            text-align: center;
            margin: 0 auto;
            font-family: $josefin, $sans;
            
            h2{
                font-weight: 300;
                text-transform: uppercase;
                font-size: 2.25rem;
            }
        }
        &__grid{
            display: grid;
            grid-template-rows: repeat(8, 120px);
            grid-template-columns: auto;
            gap: 24px;
            margin-top: 55px;
            margin-bottom: 35px;
            &__items{
                position: relative;
                h3{
                    position: absolute;
                    font-family: $josefin, $sans;
                    color: $white;
                    font-weight: 300;
                    text-transform: uppercase;
                    left: 7%;
                    right: 70%;
                    top: calc(50% - 41.04px/2 + 13.48px);
                    width: 45%;
                    font-size: 1.5rem;
                }
            }
        }
        .mobile-see-all{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                width: 157px;
                height: 40px;
                background-color: $white;
                border: 1px solid $black;
                text-transform: uppercase;
                font-family: $josefin, $sans;
                letter-spacing: 0.3rem;
                font-weight: 300;
                transition: all 300ms ease-in;
                &:hover, &:focus{
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }

    .footer-container{
        width: 100%;
        background-color: $black;
        height: 60vh;
        margin-top: 96px;
        .footer-bar{
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            width: 75%;
            justify-content: space-evenly;
            margin: 0 auto;
            .footer-logo{
                margin-top: 56px;
            }
            .footer-list{
                height: 100%;
                display: flex;
                align-items: center;
                gap: 1rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    list-style: none;
                    height: 100%;
                    li{
                        font-family: $josefin, $sans;
                        a{
                            color: $white;

                        }
                    }

                }
            }
            .logo-links{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 50%;
                margin: 0 auto;
            }
            .rights{
                color: $dark-grey;
                width: 100%;
                text-align: center;
                font-family: $josefin, $sans;
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }
    }

    .attribution{
       margin: 2rem auto;
        text-align: center;
        font-family: $josefin, $sans;
    }
    //desktop
    .nav-list{
        display: none;
    }
    .interactive-content__img__desktop{
        display: none;
    }
    .interactive-content__description__desktop{
        display: none;
    }
    .desktop-creations{
        display: none;
    }
    .desktop-footer-bar{
        display: none;
    }
}
//tablet
@media only screen and (min-width: 768px){
    .mobile-nav{
        .intro-container{
            h1{
                font-size: 2.75rem;
                width: 70%;
                height: 35%;
            }
        }
    }
    .footer-bar{
        gap: 0.5rem;
        .footer-list{
            ul{
                gap: 1rem;
            }
        }
    }
}
@media only screen and (min-width: 1200px){
    .nav-list{
        display: block;
        justify-content: space-evenly;
        background-image: url('/images/desktop/image-hero.jpg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__bar{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            &__logo{
                margin-top: 64px;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                width: 35%;
                margin-top: 64px;
                li{
                    a{
                        font-family: $josefin, $sans;
                        color: $white;
                        padding-bottom: 0.5rem;
                        transition: all 200ms ease-in;
                        &:hover{
                            border-bottom: 2px solid $white;
                        }
    
                    }
                }
            }
        }
        .desktop-intro-container{
            width: 100%;
            font-family: $josefin, $sans;
            position: relative;
            h1{
                font-weight: 300;
                color: $white;
                text-transform: uppercase;
                font-size: 4rem;
                width: 45%;
                position: absolute;
                left: 15.75%;
                top: 6rem;
                padding: 40px;
                border: 2px solid $white;

            }
        }
    }
    
    .interactive-content{
        position: relative;
        margin-bottom: 185px;
        .interactive-content__description__desktop{
        width: 50%;
        position: absolute;
        background-color: $white;
        top: 40%;
        left: 50%;
        height: 65%;
        &__content{
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            width: 80%;
            font-family: $josefin, $sans;
            margin: 0 auto;
            padding-top: 96px;
            padding-left: 96px;
            h2{
                font-size: 3rem;
                font-weight: 300;
                text-transform: uppercase;
            }
            p{
                color: $dark-grey;
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
    
        }
    
    }
}
.desktop-creations{
    display: block;
    &__intro{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $josefin, $sans;
        h2{
            font-weight: 300;
            text-transform: uppercase;
            font-size: 3rem;
        }
        &__btn__container{
            button{
                width: 157px;
                height: 40px;
                background-color: $black;
                font-family: $josefin, $sans;
                text-transform: uppercase;
                font-weight: 300;
                color: $white;
                border: none;
                letter-spacing: 5px;
                line-height: 14px;
                transition: all 250ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    background-color: $white;
                    border: 1px solid $black;
                    color: $black;
                }
            }
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(4,256px);
        grid-template-rows: repeat(2, 450px);
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        gap: 30px;
        margin-top: 84px;
        &__items{
            position: relative;
            transition: all 250ms ease-in;
            h3{
                position: absolute;
                font-family: $josefin, $sans;
                color: $white;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 2rem;
                width: 70%;
                left: 16%;
                right: 45%;
                top: calc(50% - 64px/2 + 161px);
                z-index: 10;

            }
            &:hover{
                cursor: pointer;
                opacity: 0.5;
                background-color: $white;
            }
        }
    }
}

.footer-container{
    height: 25vh;
    .footer-bar{
        display: none;
    }

    .desktop-footer-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 165px;
        margin-right: 165px;
        &__content__1{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            &__list{
                display: flex;
                align-items: center;
                font-family: $josefin, $sans;
                list-style: none;
                gap: 32px;
                li{
                    a{
                        color: $white;
                        transition: all 200ms ease-in;
                        padding-bottom: 0.5rem;
                        &:hover{
                            border-bottom: 2px solid $white;
                        }
                    }
                }
            }
        }
        &__content__2{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            &__links{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                a{
                    transition: all 200ms ease-in;
                    padding-bottom: 0.3rem;
                    &:hover{
                        border-bottom: 2px solid $white;
                    }
                }
            }
            &__rights{
                color: $dark-grey;
                font-family: $josefin, $sans;

            }
        }
    }
}

    


    //mobile
    .mobile-nav{
        display: none;
    }
    .mobile-creations{
        display: none;
    }
    .interactive-content__description{
        display: none;
    }
    .interactive-content__img__mobile{
        display: none;
    }
    .interactive-content__img__desktop{
        display: block;
        position: relative;
        right: 15%;
    }
}